src/main/resources/xsd/putin.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ns0="urn:test.ru" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:test.ru" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="Material">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="MATNO" type="xs:unsignedShort" />
                <xs:element name="MATTEXT">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="LANGKEY" type="xs:string" />
                            <xs:element name="TEXT" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>